includeConfig "../../../atlas.config"

tower.enabled = false
apptainer.runOptions   = '--no-mount tmp --writable-tmpfs'

params {
    celltypist_model = "COVID19_HumanChallenge_Blood.pkl"
    has_celltypes = false
    custom_metadata = ['serum_ige', 'severity', 'easi_score', 'iga_score']
    sc_hpl = false
    base = "atlas.h5ad"
    model = "model"
}