tower.enabled = false

params {
    input = "samplesheet.csv"
    celltypist_model = "Adult_Human_Skin"
    force_obs_cols = 'serum_ige,severity,easi_score,iga_score'
    unify_gene_symbols = true
    clustering_resolutions = "0.5,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0"
    outdir = 'results'
    memory_scale = 4
    prep_cellxgene = true
    skip_rankgenesgroups = true
}

process {
    withName: '.*:SCANPY_(HVGS|HARMONY|RANKGENESGROUPS)' {
        queue = 'shared-cpu'
        ext.use_gpu = false
        clusterOptions = ''
    }
    withLabel: process_gpu {
        queue = 'exbio-gpu'
        clusterOptions = '--gpus 1'
    }

    withName: ADATA_MERGE {
        executor = 'local'
    }
}
